
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baker Bootstrap Theme</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/style.css">
    <!-- =======================================================
      Theme Name: Baker
      Theme URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>

    <div class="loader"></div>
    <div id="myDiv">
        <!--HEADER-->
        <div class="header">
            <div class="bg-color">
                <header id="main-header">
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Web<span class="logo-dec">ster</span></a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#main-header">Home</a></li>
                                    <li class=""><a href="#feature">About</a></li>
                                    <li class=""><a href="#service">Services</a></li>
                                    <li class=""><a href="#portfolio">Portfolio</a></li>
                                    @*<li class=""><a href="#testimonial">Testimonial</a></li>*@
                                    @*<li class=""><a href="#blog">Blog</a></li>*@
                                    <li class=""><a href="#contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="banner-info text-center wow fadeIn delay-05s">
                                <h1 class="bnr-title">We are at ba<span>ker</span></h1>
                                <h2 class="bnr-sub-title">Starting a new journey!!</h2>
                                <p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>
                                <div class="brn-btn">
                                    <a href="#" class="btn btn-download">Download now!</a>
                                    <a href="#" class="btn btn-more">Learn More</a>
                                </div>
                                <div class="overlay-detail">
                                    <a href="#feature"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ HEADER-->
        <!---->
        @RenderBody()
        <!---->
        <!---->
        <footer id="footer">
            <div class="container">
                <div class="row text-center">
                    <p>&copy; Webster Theme. All Rights Reserved.</p>
                    <div class="credits">
                        -->
                    </div>
                </div>
            </div>
        </footer>
        <!---->
    </div>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/wow.js"></script>
    <script src="~/Scripts/js/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/contactform/contactform.js"></script>

</body>
</html>



